html {
  font-family: sans-serif;
  font-size: 16px;
  margin= 0;
}

h1, h2, h3, h4, p, a {
  margin: 0.5rem 0;
}

h1,h2,h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  color: #2A2B2B;
}


h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  font-style: italic;

}

p{
  font-size: 1.25rem;
}

p, span {
  font-family: 'Open Sans', sans-serif;
  color: #2A2B2B;
}

a {
  color: #7E7E7E;
  text-decoration: none;
}

a.menu {
  font-family: 'Open Sans', sans-serif;
  color: #2A2B2B;
}

/* Header Section */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

header .logo {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  height: 2rem;
  font-family:'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
}

header .logo .colmar {
  font-weight: 600;
}

header .logo .academy{
  font-weight: 400;
  color: #7E7E7E;
}


header nav {
  margin-right: 1.5rem;
  font-family: 'Roboto Condensed', sans-serif;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul li {
  margin-right: 1rem;
}

header nav ul li a {
  padding-bottom: 0.75rem;
}

header nav  a:hover {
  border-bottom: 1px solid #7E7E7E;
  padding-bottom: 0;
  transition: padding-bottom 0.4s ease-out;
}

header nav  a:active {
  color: #C0C0C0;
}


/* Banner Section */

section.banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #B7B7B7;
}
section.banner img {
  width: 60%;
  height: auto;
  margin: 2rem 1.5rem;
}

section.banner .content {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;


}

section.banner a.button {
  background-color: #2A2B2B;
  color: #7E7E7E;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

section.banner a.button:hover {
  color: #C0C0C0;
}

section.banner a.button:active {
  background-color: #545454;
}

/* Information Section */

section.information {
  display: flex;
  justify-content: space-between;
}

section.information .image-content {
  max-width: 60%;
  height: auto;
  margin: 2rem 1.5rem;

}

section.information .image-content .quote-author {
  font-size: 1rem;
  font-style: italic;
}

section.information img {
  width: 100%;
  height: auto;
}

section.information div.flex-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  overflow: auto;
  margin-top: 2rem;

}

section.information div.flex-container .box {
  display: flex;
  margin: 0 0 1.5rem 0;
  transition: background-color 0.25s linear;
}

section.information div.flex-container .box:hover {
  background-color: #898989;
}

section.information div.flex-container .box a {
  color: #363737;
  text-decoration: underline;
}

section.information div.flex-container .box a:hover {
  color: #C0C0C0;

}


section.information .flex-container .box .image-container {
  max-width: 35%;
  height: auto;
  margin: 0;
}

section.information .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* Courses Section */

section.courses {
  text-align: center;
  background-color: #C0C0C0;
  padding: 2rem 0;
}

div.courses-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 3.5rem;
  text-align: left;

}

div.courses-container .box {
  max-width: 30%;
  margin: 2rem 1rem;
  flex-shrink: 1;
  background-color: #FFFFFF;
  transition: all .2s linear;
}

div.courses-container .box:hover {
  opacity: .7;
}

div.courses-container .box .content {
  margin-left: 1rem;
}

div.courses-container .box .image-container {
  max-width: 100%;
}

div.courses-container .box .image-container img {
  max-width: 100%;
  height: auto;
}

/* Thesis Section */

section.thesis {
  text-align: center;
  padding: 2rem 0rem;;
}

div.thesis-container {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

section.thesis .video-content {
  max-width: 60%;
  height: auto;
  margin-top: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

section.thesis video {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

section.thesis div.flex-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  overflow: auto;
  margin-top: 2rem;

}

section.thesis div.flex-container .box a {
  display: flex;
  margin: 0 0 1.5rem 0;
  transition: background-color 0.25s linear;
}

section.thesis div.flex-container .box a:hover {
background-color: #898989;
}

section.thesis .flex-container .box .image-container {
  max-width: 35%;
  height: auto;
  margin: 0;
}

section.thesis .flex-container .box .image-container img {
  max-width: 100%;
  height: auto;
  margin: 0;
}



section.thesis .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  border-top: 1px solid #7E7E7E;
}

footer p {
  font-size: 1rem;
}

footer nav ul {
  display: flex;
  align-items: center;
}

footer nav ul li {
  margin-right: 1rem;
}

footer nav ul li a:hover{
  color: #C0C0C0;
}
